# Maven
target/
dependency-reduced-pom.xml

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
**/go-cache/
**/bin/
**/dist/

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node (se houver builds locais)
node_modules/

# MkDocs
site/

# IntelliJ / VS Code
.idea/
*.iml
.vscode/
*.swp

# Logs
*.log

# OS files (macOS, Linux, Windows)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Configurações locais / Credenciais
.env
.env.local
.env.*.local
!.env.example